#reader, .card {
    width: 500px;
}

#wrap1 {
    display: none;
}

body {
    background-color: #fdf0d5;
}

.card {
    background-color: #003049 ;
    color: white;
}

table, th, td {
    border: 1px solid;
    padding: 5px;
  }

#check-in-btn {
    background-color: bisque;
    border-radius: 5px;
    border: none;
    font-size: larger;
    color: #003049;
  }