#reader {
    width: 500px;
    height: 500px;
}

#wrap1 {
    display: none;
}

body {
    background-color: #fdf0d5;
}

.card {
    background-color: #003049 ;
    color: white;
}

table, th, td {
    border: 1px solid;
    padding: 5px;
  }
